name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu    # Standard 64-bit Linux
          - x86_64-unknown-linux-musl   # Static linked (bessere Container)

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --locked --target ${{ matrix.target }}

      - name: Upload binary to Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/${{ matrix.target }}/release/smem-exporter
          asset_name: smem-exporter-${{ matrix.target }}
          tag: ${{ github.ref }}

  docker:
    needs: build
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Download AMD64 binary
        run: |
          wget -O smem-exporter https://github.com/cansp-dev/smem-exporter/releases/download/${{ github.ref_name }}/smem-exporter-x86_64-unknown-linux-gnu
          chmod +x smem-exporter
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and push Docker image
        run: |
          docker build -t canspnet/smem-exporter:${{ github.ref_name }} .
          docker push canspnet/smem-exporter:${{ github.ref_name }}
          docker tag canspnet/smem-exporter:${{ github.ref_name }} canspnet/smem-exporter:latest
          docker push canspnet/smem-exporter:latest